annotated-types==0.6.0    # via pydantic
authlib==1.3.0            # via weaviate-client
certifi==2023.11.17       # via requests
cffi==1.16.0              # via cryptography
charset-normalizer==3.3.2  # via requests
cryptography==42.0.1      # via authlib
grpcio==1.60.0            # via grpcio-tools, weaviate-client
grpcio-tools==1.60.0      # via weaviate-client
idna==3.6                 # via requests
protobuf==4.25.2          # via grpcio-tools
pycparser==2.21           # via cffi
pydantic==2.5.3           # via weaviate-client
pydantic-core==2.14.6     # via pydantic
requests==2.31.0          # via weaviate-client
typing-extensions==4.9.0  # via pydantic, pydantic-core
urllib3==2.1.0            # via requests
validators==0.22.0        # via weaviate-client
weaviate-client==v4.4b2   # via -r requirements.in

# The following packages are considered to be unsafe in a requirements file:
# setuptools
