<launch>
    <!--   DEFAULTS  -->
    <!--    export LIBGL_ALWAYS_SOFTWARE=1-->
    <arg name="is_sim" default="false" />
    <arg name="plot_show" default="false" />
    <arg name="plot_save" default="true" />
    <arg name="debug_with_images" default="true" />
    <arg name="debug" default="3" />

    <param name="plot_show" value="$(arg plot_show)" />
    <param name="plot_save" value="$(arg plot_save)" />
    <param name="debug" value="$(arg debug)" />
    <param name="debug_with_images" value="$(arg debug_with_images)" />

    <group if="$(arg is_sim)">
        <rosparam command="load" file="$(find lift)/config/final_lift_sim.yaml" />
    </group>
    <group unless="$(arg is_sim)">
        <rosparam command="load" file="$(find lift)/config/final_lift.yaml" />
    </group>

    <node pkg="narrow_space_navigation" name="narrow_space_nav" type="narrow_space_nav.py" output="screen"/>

</launch>
