<launch>

    <!--     PARAMS     -->
    <arg name="config" default="opl"/>
    <rosparam command="load" file="$(find storing_groceries)/config/$(arg config).yaml" ns="storing_groceries" />

    <!--     MOTIONS     -->
    <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml"/>

    <!--      PERCEPTION     -->
    <node name="yolo" pkg="lasr_vision_yolo" type="service.py" output="screen"/>

    <!-- LLM -->
    <node pkg="lasr_llm" type="llm.py" name="llm_server" output="screen"/>

    <!-- WEB VIEW -->
    <!-- <node pkg="web_video_server" type="web_video_server" name="web_video_server">
        <param name="port" value="8081"/>
        <param name="address" value="localhost"/>
    </node> -->

    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" output="screen">
        <param name="image_topic" value="/referee_view"/>
    </node>

</launch>
