<launch>

    <!--     PARAMS     -->
    <arg name="config" default="simulation"/>
    <rosparam command="load" file="$(find storing_groceries)/config/$(arg config).yaml" ns="storing_groceries" />
    <rosparam command="load" file="$(find lasr_manipulation_pipeline)/config/motions.yaml"/>

    <!--     MOTIONS     -->
    <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml"/>

    <!--     MANIPULATION     --> 
    <node pkg="lasr_manipulation_pipeline" type="registration_service.py" name="registration_service" output="screen"/>
    <node pkg="lasr_manipulation_pipeline" type="planning_scene_services.py" name="planning_scene_services" output="screen"/>
    <node pkg="lasr_manipulation_pipeline" type="pick_server.py" name="pick_server" output="screen"/>
    <node pkg="lasr_manipulation_pipeline" type="place_server.py" name="place_server" output="screen"/>

    <!--      PERCEPTION     -->
    <node name="yolo" pkg="lasr_vision_yolo" type="service.py" output="screen"/>

</launch>
