<launch>

    <!--     PARAMS     -->
    <arg name="config" default="lab"/>

   
    <!--     STATIC POINTS     -->
    <rosparam command="load" file="$(find storing_groceries)/config/$(arg config).yaml" ns="storing_groceries" />

    <!-- LLM Service Node -->
    <node pkg="lasr_llm" type="storing_groceries_service.py" name="storing_groceries_service" output="screen"/>

    <!--     MOTIONS     -->
    <!-- <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml"/> -->
    <!-- <rosparam command="load" file="$(find storing_groceries)/config/motions.yaml"/> -->

         <!-- PERCEPTION     -->
    <arg name="preload" default="['yolo11n-seg.pt']" doc="Array of models to preload when starting the service" />
    <node name="yolo_service" pkg="lasr_vision_yolo" type="service.py" output="screen">
        <param name="preload" type="yaml" value="$(arg preload)" />
    </node>

    <!-- DEPTH IMAGE SPEED CONTROL  -->
    <node pkg="nodelet" type="nodelet" name="depth_image_proc_nodelet_manager" args="manager" output="screen" />

    <node pkg="nodelet" type="nodelet" name="depth_to_cloud" args="load depth_image_proc/point_cloud_xyz depth_image_proc_nodelet_manager" output="screen">
        <remap from="image_rect" to="/xtion/depth_registered/image_raw"/>
        <remap from="camera_info" to="/xtion/depth_registered/camera_info"/>
        <remap from="points" to="/xtion/depth_pointsros"/> 

    </node>


</launch>
