<launch>
    <!-- Person Following backend -->
    <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml" />
    <include file="$(find lasr_vision_sam2)/launch/sam2.launch"/>
    <include file="$(find lasr_vision_yolo)/launch/service.launch"/>
    <include file="$(find lasr_person_tracking_filter)/launch/kalman_filter.launch"/>
    <include file="$(find lasr_skills)/launch/joint_leg_tracker.launch"/>

    <!--     SPEECH     -->
    <arg name="wakewords_device_param" default="9" />
    <node pkg="lasr_wakewords" type="wakeword_service.py" name="wakeword_service" output="screen">
        <param name="~device_index" value="$(arg wakewords_device_param)"/>
    </node>

    <!-- Bag Manipulation play motion -->
    <rosparam command="load" file="$(find help_me_carry)/config/help_me_carry_motions.yaml" />

   <!--  lang_sam_service node -->
    <arg name="use_gpu" default="0"/>
    <node pkg="lasr_vision_lang_sam" type="lang_sam_service.py" name="lang_sam_service" output="screen" args="$(arg use_gpu)" />

    <node pkg="lasr_tf" type="tf_server.py" name="tf_server" output="screen" />
</launch>
