<launch>
    <!-- Person Following backend -->
    <!-- <include file="$(find lasr_person_following)/launch/joint_leg_tracker.launch"/> -->
    <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml" />
    <!-- <include file="$(find lasr_vision_sam2)/launch/sam2.launch"/> -->
    <include file="$(find lasr_vision_yolo)/launch/service.launch"/>

    <!-- Bag Manipulation play motion -->
    <rosparam command="load" file="$(find help_me_carry)/config/help_me_carry_motions.yaml" />

    <!--  lang_sam_service node -->
    <arg name="use_gpu" default="0"/>
    <env name="USE_GPU" value="$(arg use_gpu)" />
    <node pkg="lasr_vision_lang_sam" type="lang_sam_service.py" name="lang_sam_service" output="screen" />


    <node pkg="lasr_tf" type="tf_server.py" name="tf_server" output="screen" />
</launch>
