<launch>

    <!--     PARAMS     -->
    <arg name="config" default="lab"/>

    <!--     INTERACTION     -->
    <arg name="whisper_device_param" default="10" />
    <node pkg="lasr_speech_recognition_whisper" type="transcribe_microphone_server" name="transcribe_speech" output="screen" args="--mic_device $(arg whisper_device_param)"/>

    <!--     STATIC POINTS     -->
    <rosparam command="load" file="$(find carry_my_luggage)/config/$(arg config).yaml" />

    <!--     MOTIONS     -->
    <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml"/>

    <!--      PERCEPTION     -->
    <include file="$(find lasr_vision_yolov8)/launch/service.launch" />
    <include file="$(find lasr_vision_bodypix)/launch/mask_service.launch" />
</launch>
