<launch>

    <!--     PARAMS     -->
    <arg name="config" default="ai_festival"/>
    <rosparam command="load" file="$(find restaurant)/config/$(arg config).yaml" />
    
    <!--     MOTIONS     -->
    <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml"/>


    <!--     SPEECH     -->
    <arg name="whisper_device_param" default="11" />
    <node pkg="lasr_speech_recognition_whisper" type="transcribe_microphone_server" name="transcribe_speech" output="screen" args="--mic_device $(arg whisper_device_param)"/>

    <!--      PERCEPTION     -->
    <include file="$(find lasr_vision_cropped_detection)/launch/cropped_detection.launch"/>
    <node pkg="lasr_vision_bodypix" type="bodypix_services.py" name="bodypix_service" output="screen"/>

    <!--      MANIPULATION     -->
    <group if="$(arg manipulation)">
        <include file="$(find tiago_kcl_moveit_grasp)/launch/nodes.launch"/>
    </group>

</launch>