<launch>
    <description>Start the BodyPix service</description>
    <usage doc="BodyPix service"></usage>
    <usage doc="Preload models and enable debug topic">debug:=true preload:=['resnet50', 'mobilenet50']</usage>

    <arg name="debug" default="true" doc="Whether to publish plotted images to /bodypix/debug/model_name" />
    <arg name="preload" default="[]" doc="Array of models to preload when starting the service" />

    <node name="bodypix_gesture_service" pkg="lasr_vision_bodypix" type="gesture_service.py" output="screen">
        <param name="debug" type="bool" value="$(arg debug)" />
        <param name="preload" type="yaml" value="$(arg preload)" />
    </node>
</launch>