<launch>

    <!--     PARAMS     -->
    <arg name="config" default="lab"/>

    <!--     INTERACTION     -->
    <arg name="whisper_device_param" default="10" />
    <node pkg="lasr_speech_recognition_whisper" type="transcribe_microphone_server" name="transcribe_speech" output="screen" args="--mic_device $(arg whisper_device_param)"/>

    <!--     STATIC POINTS     -->
    <rosparam command="load" file="$(find receptionist)/config/$(arg config).yaml" />

    <!--     MOTIONS     -->
    <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml"/>
    <rosparam command="load" file="$(find receptionist)/config/motions.yaml"/>

    <!--      PERCEPTION     -->
    <include file="$(find lasr_vision_yolov8)/launch/service.launch" />
    <node pkg="lasr_vision_feature_extraction" type="service" name="torch_service" output="screen"/>
    <node pkg="lasr_vision_bodypix" type="service" name="bodypix_service" output="screen"/>

</launch>
