<launch>

    <!--     PARAMS     -->
    <arg name="config" default="robocup_2025"/>
   
    <!-- MANIPULATION -->
    <node pkg="lasr_manipulation_pipeline" type="place_server.py" name="place_server" output="screen"/>
    <node pkg="lasr_manipulation_pipeline" type="planning_scene_services.py" name="planning_scene_services" output="screen"/>


      <!--     INTERACTION     -->
    <arg name="whisper_device_param" default="9" />
    <node pkg="lasr_speech_recognition_whisper" type="transcribe_microphone_server" name="transcribe_speech" output="screen" args="--mic_device $(arg whisper_device_param)"/>


    <!--     STATIC POINTS     -->
    <rosparam command="load" file="$(find give_me_a_hand)/config/$(arg config).yaml" ns="give_me_a_hand" />

    <!--     MOTIONS     -->
    <!-- <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml"/> -->
    <!-- <rosparam command="load" file="$(find storing_groceries)/config/motions.yaml"/> -->

         <!-- PERCEPTION     -->
    <arg name="preload" default="['yolo11n-seg.pt']" doc="Array of models to preload when starting the service" />
    <node name="yolo_service" pkg="lasr_vision_yolo" type="service.py" output="screen">
        <param name="preload" type="yaml" value="$(arg preload)" />
    </node>

    <!-- DEPTH IMAGE SPEED CONTROL  -->
    <node pkg="nodelet" type="nodelet" name="depth_image_proc_nodelet_manager" args="manager" output="screen" />

    <node pkg="nodelet" type="nodelet" name="depth_to_cloud" args="load depth_image_proc/point_cloud_xyz depth_image_proc_nodelet_manager" output="screen">
        <remap from="image_rect" to="/xtion/depth_registered/image_raw"/>
        <remap from="camera_info" to="/xtion/depth_registered/camera_info"/>
        <remap from="points" to="/xtion/depth_pointsros"/> 

    </node> 

    <node pkg="lasr_vision_lang_sam" type="lang_sam_service.py" name="lang_sam_service" output="screen" />
    
    <node pkg="lasr_tf" type="tf_server.py" name="tf_server_service" output="screen"/>


</launch>
