<launch>
    <description>Perform gesture detection using the camera</description>
    <usage doc="Run the demo"></usage>

    
    <!-- show debug topic -->
    <node name="image_view" pkg="rqt_image_view" type="rqt_image_view" respawn="false" output="screen" args="/recognise/debug" />


    <!-- launch video stream -->
   <include file="$(find video_stream_opencv)/launch/camera.launch">
        <arg name="visualize" value="true" />
   </include>
</launch>