<launch>
    <include file="$(find lasr_vision_yolov8)/launch/service.launch">
        <arg name="debug" value="true" />
        <arg name="preload" value="['yolov8n-seg.pt']" />
    </include>

    <node name="bodypix_keypoint_service" pkg="lasr_vision_bodypix" type="keypoint_service.py" output="screen">
        <param name="debug" type="bool" value="true" />
        <param name="preload" type="yaml" value='resnet50' />
    </node>

    <node name="bodypix_mask_service" pkg="lasr_vision_bodypix" type="mask_service.py" output="screen">
        <param name="debug" type="bool" value="true" />
        <param name="preload" type="yaml" value='resnet50' />
    </node>

    <node pkg="lasr_vision_feature_extraction" type="service" name="torch_service" output="screen"/>
    

   <!--<include file="$(find video_stream_opencv)/launch/camera.launch">
        <arg name="visualize" value="true" />
   </include>-->
    <!-- <arg name="file" doc="Video file to run inference on" />
   <include file="$(find video_stream_opencv)/launch/camera.launch">
        <arg name="video_stream_provider" value="$(arg file)" />
        <arg name="loop_videofile" value="true" />
        <arg name="visualize" value="true" />
   </include> -->
</launch>