absl-py==2.0.0            # via tensorboard, tensorflow
astunparse==1.6.3         # via tensorflow
cachetools==5.3.2         # via google-auth
certifi==2023.7.22        # via requests
charset-normalizer==3.3.2  # via requests
contourpy==1.2.0          # via matplotlib
cycler==0.12.1            # via matplotlib
flatbuffers==23.5.26      # via tensorflow
fonttools==4.44.0         # via matplotlib
gast==0.5.4               # via tensorflow
google-auth==2.23.4       # via google-auth-oauthlib, tensorboard
google-auth-oauthlib==1.0.0  # via tensorboard
google-pasta==0.2.0       # via tensorflow
grpcio==1.59.2            # via tensorboard, tensorflow
h5py==3.10.0              # via tensorflow
idna==3.4                 # via requests
importlib-metadata==6.8.0  # via markdown
importlib-resources==6.1.1  # via matplotlib
keras==2.14.0             # via tensorflow
kiwisolver==1.4.5         # via matplotlib
libclang==16.0.6          # via tensorflow
markdown==3.5.1           # via tensorboard
markupsafe==2.1.3         # via werkzeug
matplotlib==3.8.1         # via -r requirements.in
ml-dtypes==0.2.0          # via tensorflow
numpy==1.26.1             # via contourpy, h5py, matplotlib, ml-dtypes, opencv-python, opt-einsum, tensorboard, tensorflow
oauthlib==3.2.2           # via requests-oauthlib
opencv-python==4.8.1.78   # via -r requirements.in
opt-einsum==3.3.0         # via tensorflow
packaging==23.2           # via matplotlib, tensorflow
pillow==10.1.0            # via -r requirements.in, matplotlib
protobuf==4.25.0          # via tensorboard, tensorflow
pyasn1==0.5.0             # via pyasn1-modules, rsa
pyasn1-modules==0.3.0     # via google-auth
pyparsing==3.1.1          # via matplotlib
python-dateutil==2.8.2    # via matplotlib
requests==2.31.0          # via requests-oauthlib, tensorboard, tf-bodypix
requests-oauthlib==1.3.1  # via google-auth-oauthlib
rsa==4.9                  # via google-auth
six==1.16.0               # via astunparse, google-pasta, python-dateutil, tensorboard, tensorflow
tensorboard==2.14.1       # via tensorflow
tensorboard-data-server==0.7.2  # via tensorboard
tensorflow==2.14.0        # via -r requirements.in
tensorflow-estimator==2.14.0  # via tensorflow
tensorflow-io-gcs-filesystem==0.34.0  # via tensorflow
termcolor==2.3.0          # via tensorflow
tf-bodypix==0.4.2         # via -r requirements.in
typing-extensions==4.8.0  # via tensorflow
urllib3==2.0.7            # via requests
werkzeug==3.0.1           # via tensorboard
wheel==0.41.3             # via astunparse
wrapt==1.14.1             # via tensorflow
zipp==3.17.0              # via importlib-metadata, importlib-resources

# MANUALLY PINNED:
chex==0.1.84
etils==1.5.2
flax==0.7.5
fsspec==2023.10.0
jax==0.4.20
jaxlib==0.4.20
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.0.7
nest-asyncio==1.5.8
optax==0.1.7
orbax-checkpoint==0.4.2
pandas==2.1.2
Pygments==2.16.1
pytz==2023.3.post1
rich==13.6.0
scipy==1.11.3
tensorflow-decision-forests==1.7.0
tensorflow-hub==0.15.0
tensorflowjs==4.13.0
tensorstore==0.1.45
tfjs-graph-converter==1.6.3
toolz==0.12.0
tzdata==2023.3
wurlitzer==3.0.3

# The following packages are considered to be unsafe in a requirements file:
# setuptools
