<launch>
    <rosparam command="load" file="$(find robocup_receptionist)/config/map_points.yaml" />
    <node pkg="robocup_receptionist" name="tf_transform" type="tf_transform.py" required="true" output="screen"/>
    
    <!--YOLO-->
    <node name="yolo_object_detection" pkg="yolo_object_detection" type="object_detection_server.py" output="screen" respawn="true" />
    
    <!--Face Detection-->
    <node name="face_detection" pkg="face_detection" type="face_detection_server.py" output="screen" respawn="true" />

    <!--Open Pose-->
    <node name="open_pose" pkg="open_pose" type="open_pose_server.py" output="screen" respawn="true" />

    <!--Age and Gender-->
    <node name="age_and_gender" pkg="hri" type="age_and_gender_server.py" output="screen" respawn="true" />
    
    <!-- dialogflow and microphone -->
    <!-- <include file="$(find dialogflow_speech)/launch/dialogflow.launch" /> -->
    <!-- <include file="$(find microphone)/launch/microphone.launch" /> -->

    <node pkg="robocup_receptionist" name="robocup_receptionist" type="simplified_sm.py" required="true" output="screen"/>
    <param name="host_name" value="charlie"/>
    <param name="host_drink" value="ice tea" />
</launch>
