<launch>
	<arg name="config" default="test_check_table"/>
    <rosparam command="load" file="$(find coffee_shop)/config/$(arg config).yaml" />
	<node pkg="coffee_shop" type="test_check_table.py" name="test_check_table" output="screen" args="$(find coffee_shop)/config/$(arg config).yaml"/>
</launch>
