<launch>
    <arg name="config" default="full"/>
    <arg name="tablet" default="true"/>
    <rosparam command="load" file="$(find coffee_shop)/config/$(arg config).yaml" />
    <node pkg="coffee_shop" type="main.py" name="main" output="screen" args="$(find coffee_shop)/config/$(arg config).yaml $(arg tablet)"/>
</launch>
