<launch>
	<node pkg="lasr_object_detection_yolov8" type="service" name="service" output="screen"/>
	<node pkg="coffee_shop" type="tf_transform.py" name="tf_transform" output="screen"/>
	<rosparam command="load" file="$(find coffee_shop)/config/demo.yaml" />
	<rosparam command="load" file="$(find coffee_shop)/config/motions.yaml" />
	<node pkg="coffee_shop" type="main.py" name="main" output="screen"/>
	<node pkg="pcl_segmentation" type="pcl_segmentation_server" name="pcl_segmentation_server" output="screen" />
</launch>
