<launch>
	<arg name="config" default="full_test"/>
    <node pkg="lasr_object_detection_yolov8" type="service" name="yolo_service" output="screen"/>
	<node pkg="lasr_shapely" type="service" name="shapely_service" output="screen"/>
	<node pkg="coffee_shop" type="tf_transform.py" name="tf_transform" output="screen"/>
	<rosparam command="load" file="$(find coffee_shop)/config/$(arg config).yaml" />
	<rosparam command="load" file="$(find coffee_shop)/config/motions.yaml" />
	    <arg name="whisper_matcher" default="by-index" />
    <arg name="whisper_device_param" default="18" />
    <arg name="rasa_model" default="$(find lasr_rasa)/assistants/coffee_shop/models"/>
    <include file = "$(find lasr_speech)/launch/speech.launch">
        <arg name="matcher" value="$(arg whisper_matcher)"/>
        <arg name="device_param" value="$(arg whisper_device_param)"/>
        <arg name="rasa_model" value="$(arg rasa_model)"/>
    </include>
	<node pkg="coffee_shop" type="main.py" name="main" output="screen" args="$(find coffee_shop)/config/$(arg config).yaml"/>
</launch>
