<launch>
<!--   DEFAULTS  -->
<!--    export LIBGL_ALWAYS_SOFTWARE=1-->
    <arg name="is_sim" default="false" />
    <arg name="plot_show" default="false" />
    <arg name="plot_save" default="true" />
    <arg name="debug_with_images" default="true" />
    <arg name="debug" default="3" />

    <param name="plot_show" value="$(arg plot_show)" />
    <param name="plot_save" value="$(arg plot_save)" />
    <param name="debug" value="$(arg debug)" />
    <param name="debug_with_images" value="$(arg debug_with_images)" />
<!--     TASK  -->
   <node name="" pkg="lift" type="main.py" output="screen" required="true"/>



<!--     INTERACTION  -->
<!--   <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>-->
<!--    <node pkg="listen_module" name="dialogflow_srv" type="dialogflow_srv.py"/>-->
    <node pkg="interaction_module" name="interaction_module_srv" type="interaction_module_srv.py"/>


<!--     STATIC POINTS  -->

    <group if="$(arg is_sim)">
        <rosparam command="load" file="$(find lift)/config/final_lift_sim.yaml" />
    </group>
    <group unless="$(arg is_sim)">
        <rosparam command="load" file="$(find lift)/config/final_lift.yaml" />
    </group>


<!--      PERCEPTION     -->
<!--    <include file="$(find lasr_perception_server)/launch/perception_server.launch"/>-->
<!--    <node name="lasr_object_detection_yolo" pkg="lasr_object_detection_yolo" type="yolo_object_detection_server.py" output="screen" respawn="true"/>-->
    <node pkg="lasr_object_detection_yolov8" type="service" name="service" output="screen"/>
    <node pkg="lasr_perception_server" name="perception_server" type="perception_server.py"/>


</launch>